.login {
  background-color: #f4ecf0;
  flex-grow: 1;
}

.login-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95vw;
  max-width: 50rem;
  margin: 15vh auto 0;
  padding: 5rem;
  border-radius: 1rem;
}

.login-controls {
  align-self: flex-start;
}

.login-controls > .active {
  background-color: #ffd700;
  color: #fff;
}

.login-controls > button {
  border: none;
  margin-right: 1rem;
  cursor: pointer;
  height: 3rem;
  border-radius: 0.5rem;
}
form {
  display: flex;
  flex-direction: column;
  width: 95vw;
  max-width: 40rem;
  font-size: 1.75rem;
  margin: 2rem 0;
}

input {
  margin: 1rem 0;
  height: 2.5rem;
}

.login-submit {
  height: 4rem;
  border-radius: 0.5rem;
  border: 2px solid #9da993;
  cursor: pointer;
  background-color: #d7dfb8;
}

.login-submit:active {
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
