header {
  height: 5rem;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}

span {
  font-size: 3rem;
  color: #ffd700;
  border-bottom: 2px solid #ffd700;
}

div {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

header p {
  font-size: 2.25rem;
  color: gray;
  margin-left: 2rem;
  align-self: flex-end;
}

header button {
  border: 1px solid gray;
  height: 3rem;
  justify-self: flex-end;
  cursor: pointer;
  border-radius: 0.5rem;
}

header button:active {
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
